<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='initial-scale=1.0, width=device-width' />
    
    <title>小鸡评房</title>
    <meta name="keywords" content="小鸡评房，光照，日照，立面，总图，楼梯">
    <meta name="description" content="小鸡评房，光照，日照，立面，总图，楼梯">        
    
    <link rel="icon" href="/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/css/thirdparty/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="/css/core.css" />

</head>

<body>
    <script src="/js/thirdparty/jquery-3.2.1.min.js"></script>

    <script src="/js/util/util.js"></script>
    <script src="/js/core.js"></script>
   
    <section class="body">
        {% block body %}{% endblock %}
    </section>

    <section class="footer">
   
        {% block footer %}{% endblock %}
    </section>

    <script type="text/javascript">
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1273541165'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol 
        + "s22.cnzz.com/z_stat.php%3Fid%3D1273541165%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>

</html>


 



