* {
    box-sizing: border-box;
}

/* 在body上加 width / height 比较奇怪，貌似没有作用 */
html, body {
    padding:0;
    margin:0;
    width:100%;
    height:100%；
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
 
@media screen and (min-width: 700px) {
    .root-body {
         background: #fdfdfd;
    }

    .title-bar {

    }
}


input {
    border-width: 0;
}

input:focus {
    outline: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #dadada;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #dadada;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #dadada;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #dadada;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #dadada;
}

.root-body {
    margin:0 auto;
    max-width: 800px;
    height: 100vh;
    border:none;
    position: relative;
    overflow: hidden;
}

a:focus, a:hover {
    outline: none;
    text-decoration: none;
}

.middle-content {
    margin: 48px 0;
    overflow-y:auto;
    height:calc(100% - 96px);
}

.seconday-page .middle-content {
    margin-bottom: 0;
    height: calc(100% - 48px);
}

.fix-with-root {
    width:100%;
    max-width:800px;
    position:fixed; 
    margin:0 auto;
    padding:0; 
    z-index:998;
}

.nav-equal-size {
    display: flex;
}
.nav-equal-size > li {
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.nav-pills>li+li {
    margin-left: 0;
}

.nav-pills>li>a {
    border-radius: 0px;
    color: #aaa;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: unset;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: unset;
    color: #ddd;
}

.bottom-tab-header>li.active>a, .bottom-tab-header>li.active>a:focus, .bottom-tab-header>li.active>a:hover {
    border-bottom: 5px solid #F1C40F;
    height: 40px;
}


.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: unset;
    color: #ddd;
}

.nav-sub {
    height: 40px;
}

.nav-sub>li>a:focus,.nav-sub>li>a:hover,.nav-sub>li.active>a {
    color:#111;
}

.nav-sub>li.active>a, .nav-sub>li.active>a:focus, .nav-sub>li.active>a:hover {
    color: #111;
}

.nav-sub-light-type {
    background-color: #eaeaea;
}

.sub-text {
    color: #aaa;
    font-size: 11px;
}

.title-nav {
    background:#000;
    top:40px;
    height:40px;
}

.tab-body {
    overflow-y:auto;
    overflow-x:hidden;
    height: calc(100% - 81px);
}

.circle-nav-sm>li {
    padding: 4px;
}

.circle-nav-sm>li>a {
    min-width: 32px;
    height: 32px;
    line-height:32px;
    text-align: center;
    display:inline-block;
    padding: 0px 5px;
    color: #000;
    cursor: pointer;
}

.circle-nav-sm>li>a:focus, .circle-nav-sm>li>a:hover {
    color: unset;
}

.circle-nav-sm>li.active > a, .circle-nav-sm>li.active>a:focus, .circle-nav-sm>li.active>a:hover {
    background: #ffe500;
    border-radius: 16px;
    color: #111;
}

.nav-unit-no  {
    background: #eaeaea;
    height: unset;
}

.nav-unit-no > li > a {
    width: unset;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    margin: 3px 8px;
}

.nav-unit-no>li.active > a, .nav-unit-no>li.active>a:focus, .nav-unit-no>li.active>a:hover {
    border-radius: 9px;
}

.linear-layout {
    display: flex;
}

.title-bar {
    width: 100%;
    max-width:800px;
    background:#000;
    height:48px;
    line-height: 48px;
    color:#fff;
    position:fixed;
    margin:0 auto;
    padding: 0 8px;
    z-index:999;
}

.title-bar .logo {
    cursor: pointer;
}

.title-bar .title-text {
     text-align:center;
     font-size:20px;
     flex:1;
}


.search-bar {
    flex: 1;
    height: 34px;
    line-height:34px;
    margin: 7px 15px;
    padding: 0 6px;
    border-radius: 5px;
    background: #565656;
    position: relative;
}

.search-bar .search-input {
    border: none;
    height: 30px;
    color: #dadada;
    background: transparent;
    width: 100%;
    flex: 1;
}


.search-bar .search-icon {
    position: absolute;
    top: 5px;
    right: 6px;
}


.icon-m {
    width: 21px;
    height: 21px;
}

.flex-col-8 {
    flex: 8;
}

.flex-col-4 {
    flex: 4;
}

.flex-col-2 {
    flex: 2;
}

.flex-parent-v-align {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.tab-launcher-bar {
    width: 100%;
    background:#000;
    height:40px;
    line-height:40px;
    position: absolute;
    bottom:0px;
    display: flex;
}

.tab-launcher-bar li {
    flex: 1;
    text-align: center;
}

.tab-launcher-bar li a {
    text-decoration: none;
    display: inline-block;
    color:#999;
}

.tab-launcher-bar li.active > a:focus, 
.tab-launcher-bar li.active > a:hover,
.tab-launcher-bar li.active > a {
    color: #fff;
}

.tab-launcher-bar>li>a:focus, .tab-launcher-bar>li>a:hover {
    color: #fff;
}

.list {
    min-height: 200px;
}

.list-header {
    padding: 10px 0;
    margin: 0 8px;
    font-size:15px;
    border-bottom: 0.5px solid rgba(56, 56, 56, 0.2);
}

.list-item {
    padding: 5px 0;
    margin: 0 8px;
    display: flex;
    height: 84px;
    border-bottom: 0.5px solid rgba(56, 56, 56, 0.2);
}

.list-item:last-child {
    border-bottom: none;
}

.list-item .title {
    overflow: hidden;
    padding: 3px 0;
    display:flex;
}

.list-item .title a {
    color:#000;
    font-size: 17px;
    text-decoration: none;
}

.list-item .title .title-postfix {
    margin-left: 10px;
    font-size: 13px;
}

.list-item .title .comment {
    font-size: 12px;
    margin-left: 12px;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
    flex:1;
}

.list-item .image-box {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.list-item .image-box img {
    max-height: 100%;  
    max-width: 100%; 
}

.list-item .image-box-two {
    margin-left:2px;
}

.list-item .score-box {
    padding-right: 4px;
    overflow: hidden;
    text-align: center;
}

.list-item .light-info {
    margin-bottom :4px;
}

.list-item .score {
    font-size: 19px;
    padding-bottom: 5px;
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item .score-desc {
    font-size: 11px;
    height: 30%;
    vertical-align: bottom;
}

.list-item .mid-text {
    min-height: 20px;
}
 
.comment {
    padding:5px 10px;
}

.h-center-with-wrap-child {
    position:absolute; 
    left: 50%; 
    transform: translateX(-50%);
}

.v-center-with-wrap-child {
    position:absolute; 
    top: 50%; 
    transform: translateY(-50%);
}

.h-center-block-fix-width {
    margin: 0 auto;
    text-align: center;
}


.toast {
    max-width: 500px;
    height:20px;
    height:auto;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    /* margin-left:-100px; */
    bottom: 80px;
    background-color: #383838;
    color: #F0F0F0;
    /* font-family: Calibri; */
    font-size: 14px;
    padding:8px 10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 8px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 8px -1px rgba(56, 56, 56, 1);
}

.building-avg-hours {
    margin: 5px 10px;
}   

.h-bar {
    display: flex;
    padding: 0;
    margin: 6px;
    font-size: 13px;
    align-items: center;
}

.h-bar .name {
    width: 55px;
    color: #000;
    text-align: right;
    padding-right: 6px;
    flex-shrink: 0;
    display: block;
}

.h-bar .name-label {
    display: block;
}

.h-bar .name-sub-label {
    display: block;
    font-size: 11px;
    color: #aaa;
}

.h-bar .value-bar {
    flex: 1;
    align-self: stretch;
}

.h-bar .value-bar .value {
    vertical-align: middle;
}

.h-bar .value-bar .value-content {
    font-size: 15px;
    height: 100%;
    max-width: 100%;
    min-width: 45px;
}

.h-bar .value-bar .value {
    display: block;
    padding: 3px 6px;
}

.h-bar .value-bar .value-sub {
    padding: 3px 6px;
    display: block;
    font-size: 11px;
    color: #666;
    padding: 3px 6px;
    background-color: #fafafa;
}

.h-bar .value-bar-plain .value-content {
    border-radius: 10px;
    padding-top:2px;
    padding-bottom:2px;
    display: inline-block;
}

.h-bar .value-level {
    padding: 0 0 0 6px;
    width: 36px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    font-size: 15px;
}

.hours-box .h-bar .name {
    width: 61px;   
}

.building-no-nav {
    padding: 5px 10px;
    background: #fafafa;
}

.tab-body-sub {
    height: calc(100% - 40px);
}

.light-floor-region .hours-box .value-bar .value-content {
    min-width: 40px;
}

.empty-content-info {
    text-align: left;
    font-size: 14px;
    margin-top: 50px;
    padding: 0 40px;
}

.btn-main {
    display: block;
    padding: 6px;
    cursor: pointer;
    background: #f1f1f1;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    border:1px solid #cbcbcb;
    text-align: center;
}   

.btn-main:hover, .btn-main:focus, .btn-main:active {
    text-decoration: none;
    color: #000;
    background: #d9d9d9;
}

.btn-long {
    font-size: 15px;
    margin: 60px 20px 20px;
}

.apply-desc-box {
    margin-top: 130px;
    text-align: center;
}

.apply-title {
    margin-bottom: 15px;
    font-size: 30px;
}

.apply-title-sub {
    margin-bottom: 15px;
    font-size: 20px;
}

.apply-step {
    display:inline-block;
    text-align: left;
    margin: 0 auto;
}

.bottom-share-box {
    margin-top: 100px;
}

 
.floor-no-nav {
    padding:2px 10px;
    margin-bottom:3px;
    background: #fafafa;
    border-top: 1px solid rgba(56, 56, 56, 0.2);
}
.floor-no-nav>li {
    padding: 0 4px;
}
.floor-no-nav>li>a{
    color: #999;
    cursor: pointer;
    /* width: 32px; */
    height: px;
    line-height:32px;
    text-align: center;
    display:inline-block;
    padding:0px 4px;
}

.floor-no-nav>li>a:focus, .floor-no-nav>li>a:hover {
    color: #999;
}
.floor-no-nav>li.active > a, .floor-no-nav>li.active>a:focus, .floor-no-nav>li.active>a:hover {
    color: #111;
}

.desc-sub {
    margin: 6px 10px;
    font-size: 11px;
    color: #aaa;
}

.image-box {
    width: 100%;
    text-align: center;
}

.image-box img {
    max-width: 100%;
}

.unit-panel {
    margin-bottom: 30px;
}

.unit-detail {
    margin-bottom: 0;
}

.unit-panels .bars {
    padding: 4px;
}

.panel-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.panel-title .title {
    display:inline-block;
    padding: 2px 10px;
    background: #f5f5f5;
}

.panel-title .score {
    display:inline-block;
    padding: 2px 10px 2px 0px;
    background: #f5f5f5;
}

.unit-panels .h-bar .name {
    width: 90px;
    font-size: 12px;
}

.unit-room-area .h-bar .name {
    width: 75px;
}

.unit-region-flow .h-bar .name {
    width: 100px;
}

.unit-window-ventilate .h-bar .name {
    width: 70px;
}

.unit-synthesis .h-bar .name {
    width: 70px;
}

.vertical-align-container {
    display: flex;
    align-items: center; 
}

.horizontal-align-container {
    display: flex;
    justify-content: center; 
}

.unit-detail .detail-section {
    margin: 10px 10px 20px 10px;
}

.unit-detail .detail-section .section-title {
    text-align: center;
    font-size: 19px;
    margin: 6px 0;
}

.unit-detail .section-item {
    margin-bottom: 6px;
    display: flex; 
}

.unit-detail .section-item .name {
    flex: 1;
    margin-right: 5px;
}

.unit-detail .section-item .value {
    border-radius: 10px;
    background: #ffe500;
    width: 35px;
    height: 20px;
    text-align: center;
}

.color-warn {
    background: #ff8059 !important;
}

.view-count-box {
    text-align: center;
    font-size: 12px;
    margin: 0 0 40px 0;
}

.view-count-wrap {
    background: #eaeaea;
    display: inline-block;
    padding: 2px 4px;
}

.view-count {
    font-size: 18px;
    margin-right:1px;
}

.cell {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-bottom: 0.5px solid rgba(55, 55, 55, 0.12);
}

.cell-name {
    color: #000;
    text-decoration: none;
}

.cell-name:focus,.cell-name:hover {
    text-decoration: none;
}

.cell-value {
    float: right;
}

.desc-sub-sub {
    margin: 20px 10px 10px;
    font-size: 9px;
    color: #aaa;
}

.login-form {
    padding:30px 50px;
}

.section-header {
    background: #f0f0f0;
    padding: 15px 15px;
    font-size: 15px;
}

.section-body {
    padding: 15px;
}

.section-body .line {
    margin-bottom: 10px;
}

.login-box a {
    width: 45px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    color: #505050;
}

.login-box .logo {
    margin:0;
    display:block; 
    width:45px; 
    height:45px; 
    margin-bottom: 5px;
    background:url(/image/qtlgn.png) no-repeat;
}

.login-box #qq {
    background-position: 0 -45px;
}

.login-box #weixin {
    background-position: 0 -90px;
}

.btn-login {
    display:block;
    padding:10px 80px;
    width: 200px;
}

.btn-register {
    display:block;
    color: #505050;
    margin-top: 15px;
    cursor: pointer;
}

.empty-title {
    font-size: 18px;
    text-align:center;
    margin-bottom: 18px;
}

.unit-panel .image-box img {
    width: 70%;
}

.apply-box {
    word-break: break-all;   
}

.list-headre-sec {
    margin: 0;
    padding: 8px;
    background: #eaeaea;
}

#cnzz_stat_icon_1273541165 {
    display: none;
}