<div class='list'>
</div>

<script type="text/html" id="list-item-tpl">
    <div class='list-item' >
        <div class='flex-col-8'>
            <div class='title'><a></a></div>
            <div class='extra-info'>
                <div class='mid-text'></div>
                <div class='view-info sub-text'></div>
            </div>
        </div>
        <div class='flex-col-2 flex-parent-v-align score-box'>
            <div class='score-align-wrap'>
                <div class='score'></div>
                <div class='score-desc'></div>
            </div>
        </div>
        <div class='image-box'><img/></div>
        <div style='clear:both'></div>
    </div>
</script>