<div class='unit-list list'>
</div>

<!-- deprecated -->

<script type="text/html" id="unit-item-tpl">
    <div class='unit-item list-item' >
        <div class='flex-col-8'>
            <div class='title'><a></a></div>
            <div class='extra-info'>
                <div class='real-estate-name mid-text'></div>
                <div class='view-info sub-text'></div>
            </div>
        </div>
        <div class='flex-col-2 flex-parent-v-align score-box'>
            <div class='score-align-wrap'>
                <div class='score'></div>
                <div class='score-desc'>户型得分</div>
            </div>
        </div>
        <div class='image-box'><img/></div>
        <div style='clear:both'></div>
    </div>
</script>